@CHARSET "UTF-8";

.fsAliasButton {
    padding: 0px;
    display: inline;
    border: none;
    font-size: 30%;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    text-shadow: 1px 1px #666;
    }


h1 {
	font-weight:normal;
}

h2 {
	font-weight:normal;
	font-size:32px;
}


h3 {
	font-weight:normal;
	
}



input[type="checkbox"][readonly] {
  pointer-events: none;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
   	margin-bottom: 25px;
    margin-top: 25px;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
    text-align: left;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}


html,
body {
	margin:0;
	padding:0;
	height:100%;


}


#header {
	background:#ededed;
	
}

#aide-general   {
	text-align:center;
}
#aide-general ul {
	top:50px;
	  list-style-type: none;
    margin: 0;
    padding: 0;
    border-right: 1px solid #555;

    width: 17%;
    background-color: #f1f1f1;
    position: fixed;
	height:50px;
}



#aide-general li#non-lien {
	text-align:center;
    color: white;
    background-color: black;
    font-weight: bold;
}




/* ------------------------------*/
#aide-general-sans-input {
		text-align:center;
}
#aide-general-sans-input ul {
	top:50px;
	  list-style-type: none;
    margin: 0;
    padding: 0;
    border-right: 1px solid #555;
        height:20px;
    width: 201px;
    background-color: #f1f1f1;
    position: fixed;	
}


#aide-general-sans-input li#non-lien {
	height:20px;
}
#aide-general-sans-input li#non-lien {
	text-align:center;
    color: white;
    background-color: black;
    font-weight: bold;
}



#ligneSearchInput {
	padding-top:4px;
}



#NavigationBarGrafitications {
	    padding-top: 230px;
}



#NavigationBarGratifications ul {
        top:50px;
          list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #555;

    width: 100%;
    background-color: #f1f1f1;
    position: fixed;
    overflow:hidden; overflow-y:scroll;
     height: 90% ;

}



#NavigationBarGratifications li {
    text-align: left;
    border-bottom: 1px solid #555;
}

#NavigationBarGratifications li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

#NavigationBarGratifications li a.active {
    background-color: #4CAF50;
    color: white;
}

#NavigationBarGratifications li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

#NavigationBarGratifications-sans-input ul {
        top:70px;
          list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #555;

    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    overflow:hidden; overflow-y:scroll;
   height: calc(100% - 70px);
}
#NavigationBarGratifications-sans-input li {
    text-align: center;
    border-bottom: 1px solid #555;
}

#NavigationBarGratifications-sans-input li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}


#NavigationBarGratifications-sans-input li a.active {
    background-color: #4CAF50;
    color: white;
}


#NavigationBarGratifications-sans-input li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* ===================================== */

#NavigationBarOrdinateurs {
	    padding-top: 330px;
}


#NavigationBarOrdinateurs ul {
        top:325px;
          list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #555;
   
    width: 350px;
    background-color: #f1f1f1;
    position: fixed;
    overflow:hidden; overflow-y:scroll;
   height: calc(100% - 230px);
  
}



#NavigationBarOrdinateurs li {
    text-align: left;
    border-bottom: 1px solid #555;
}

#NavigationBarOrdinateurs li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

#NavigationBarOrdinateurs li a.active {
    background-color: #4CAF50;
    color: white;
}

#NavigationBarOrdinateurs li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

#NavigationBarOrdinateurs-sans-input ul {
        top:70px;
          list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #555;

    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    overflow:hidden; overflow-y:scroll;
   height: calc(100% - 70px);
}
#NavigationBarOrdinateurs-sans-input li {
    text-align: center;
    border-bottom: 1px solid #555;
}

#NavigationBarOrdinateurs-sans-input li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}


#NavigationBarOrdinateurs-sans-input li a.active {
    background-color: #4CAF50;
    color: white;
}


#NavigationBarOrdinateurs-sans-input li a:hover:not(.active) {
    background-color: #555;
    color: white;
}


/* ===================================== */
#NavigationBarLabo ul {
        top:250px;
          list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #555;
   
    width: 17%;
    background-color: #f1f1f1;
    position: fixed;
    overflow:hidden; overflow-y:scroll;
   height: calc(100% - 255px);

}

#NavigationBarLabo li {
    text-align: center;
    border-bottom: 1px solid #555;
}

#NavigationBarLabo li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;


}

#NavigationBarLabo li a.active {
    background-color: #4CAF50;
    color: white;
}

#NavigationBarLabo li a:hover:not(.active) {
    background-color: #555;
    color: white;
}








#NavigationBarPersonnes ul {
	top:100px;
	  list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #555;
    
    width: 17%;
    background-color: #f1f1f1;
    position: fixed;
    overflow:hidden; overflow-y:scroll;
   height: calc(100% - 105px); 
   
}



#NavigationBarPersonnes li {
    text-align: center;
    border-bottom: 1px solid #555;
}

#NavigationBarPersonnes li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;

	
}

#NavigationBarPersonnes li a.active {
    background-color: #4CAF50;
    color: white;
}

#NavigationBarPersonnes li a:hover:not(.active) {
    background-color: #555;
    color: white;
}


#NavigationBarPersonnes-sans-input ul {
	top:70px;
	  list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #555;
    
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    overflow:hidden; overflow-y:scroll;
   height: calc(100% - 70px); 
}
#NavigationBarPersonnes-sans-input li {
    text-align: center;
    border-bottom: 1px solid #555;
}

#NavigationBarPersonnes-sans-input li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}


#NavigationBarPersonnes-sans-input li a.active {
    background-color: #4CAF50;
    color: white;
}


#NavigationBarPersonnes-sans-input li a:hover:not(.active) {
    background-color: #555;
    color: white;
}



nav#NavigationBarModifierPersonne  ul {

        position:fixed;/* ie6 will treat this as fixed because of a bug where overflow:auto is set on a parent */
        top:50px;
        left:350px;
        height:50px;
        margin:0;
        padding:0;
width:50%;
  background-color: #355;

}

nav#NavigationBarModifierPersonne  li {
    float: left;
          min-width:100px;
    display: inline-block;
}

nav#NavigationBarModifiePersonne  ul {
	position:fixed;/* ie6 will treat this as fixed because of a bug where overflow:auto is set on a parent */
	top:50px;
	left:50px;
	height:50px;
	margin:0;
	padding:0;
	z-index:999;
width:100%;
  background-color: #333;

}



#NavigationBarPersonnes {
	    padding-top: 29px;
}

#NavigationBarOrdinateurs {
	    padding-top: 29px;
}

#NavigationBarLabo {
	    padding-top: 29px;
}




ul#ce  li#non-lien {
    color: white;
    background-color: black;
    font-weight: bold;
}

#NavigationBarPersonnes li:last-child {
    border-bottom: none;
}


#historique {
}


#historique table {
    border-collapse: collapse;
    border: 0px solid black;
        margin-bottom: 25px;
    table-layout: fixed;
}



#historique th, td {
    border: 1px solid black;
    word-break : break-all;
}



#historique select {
padding-left: 0px;
width:80px;
}

#stage {
}


#stage table {
    border-collapse: collapse;
    width: 100%;
    border: 0px solid black;
   	margin-bottom: 25px;
    table-layout: fixed;
}


#stage th, td {
    border: 1px solid black;
    word-break : break-all;
}

#stage select {
padding-left: 0px;
width:160px;
}

#FormulairesModificationPersonne {
	margin-left:22%;
	padding-top : 15px;
}
#FormulairesAjouter {
	margin-left:200px;
	padding-top : 15px;
}



input[type=text]:focus {
    background-color: lightblue;
}

select {
  
    padding:8px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}


input[type=button], input[type=submit], input[type=reset] {
    background-color: rgb(58, 0, 13);
    border: none;
    color: white;
    padding: 8px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=file] {
	
}

label {
	color:#03007D;
}


.error {
	color:red;
}

table.table.resultats-requete  tbody  tr  td a.link_suppression_statut, table.table.resultats-requete  tbody  tr  td  a.link_suppression_reservation, table.table.resultats-requete  tbody  tr  td  a.link_suppression_discipline {
	 font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.button-link {
		 font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.nom_tutelle {
	background-color:green;
	color:white;
	font-weight: bold;
}

#reset {
	background-color: black;
}

#texteExplicationReservation {
	color :red;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;	
	
}
.presentation_app li {
	padding-bottom : 7px;
}

.presentation_app  li:nth-child(even) {
    color:#121931;
}
.presentation_app li:nth-child(odd) {
  color: #FB3434;
}


.text_imp {
	font-size:24px;
}

#titre_principal {
	text-align:center;
}


.modif_res_piece {
		 font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}


.lien-menu a {
	text-decoration: none;
	color: blue;
}



@media screen and (max-width: 700px) {
  nav#NavigationBarGeneral  ul {

	position:absolute;/* ie6 will treat this as fixed because of a bug where overflow:auto is set on a parent */
	top:0px;
	left:0px;
	height:50px;
	margin:0;
	padding:0;
	z-index:999;
width:100%;
min-width:1000px;
  background-color: #333;

}

nav#NavigationBarGeneral  li {
    float: left;
	  min-width:100px;
}

nav#NavigationBarGeneral  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav#NavigationBarGeneral  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

nav#NavigationBarGeneral  li.dropdown {
    display: inline-block;
}

nav#NavigationBarGeneral  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

nav#NavigationBarGeneral  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav#NavigationBarGeneral  .dropdown-content a:hover {background-color: #f1f1f1}

nav#NavigationBarGeneral  .dropdown:hover .dropdown-content {
    display: block;
}


#NavigationBarPersonnes ul {
    top: 100px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #555;
    width: 200px;
    background-color: #f1f1f1;
    position: absolute;
    overflow: hidden;
    overflow-y: scroll;
    height:auto;
}

#aide-general ul {
    top: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-right: 1px solid #555;
    width: 201px;
    background-color: #f1f1f1;
    position: absolute;
    height: 50px;
}

#FormulairesModificationPersonne {
	min-width:780px;
}


}


@keyframes noop {
  0%   { margin-bottom: 0; }
  100% { margin-bottom: 1em; }
}
