 /* Style the tab */
.tab {
  left:300px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 



nav#NavigationBarGeneral  ul {

        position:fixed;/* ie6 will treat this as fixed because of a bug where overflow:auto is set on a parent */
        top:0px;
        left:0px;
        height:50px;
        margin:0;
        padding:0;
        z-index:999;
width:100%;
  background-color: #333;

}

nav#NavigationBarGeneral  li {
    float: left;
          min-width:100px;
}

nav#NavigationBarGeneral  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
                height:20px;
        top:0px;
}

nav#NavigationBarGeneral  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

nav#NavigationBarGeneral  li.dropdown {
    display: inline-block;
}

nav#NavigationBarGeneral  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

nav#NavigationBarGeneral  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav#NavigationBarGeneral  .dropdown-content a:hover {background-color: #f1f1f1}

nav#NavigationBarGeneral  .dropdown:hover .dropdown-content {
    display: block;
}







#first_link_of_bar_general {
/*      background-color: #CE0000;
width: 170px;*/
    width: 320px;
        background-color: rgba(195, 186, 178, 0.76);
}


