nav#NavigationBarPersonne  ul {

        position:fixed;/* ie6 will treat this as fixed because of a bug where overflow:auto is set on a parent */
        top:50px;
        left:325px;
        height:50px;
        margin:0;
        padding:0;
        z-index:999;
width:100%;
  background-color: #487;

}

nav#NavigationBarPersonne  li {
    float: left;
          min-width:100px;
}

nav#NavigationBarPersonne  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
                height:20px;
        top:0px;
}

nav#NavigationBarPersonne  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

nav#NavigationBarPersonne  li.dropdown {
    display: inline-block;
}

nav#NavigationBarPersonne  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

nav#NavigationBarPersonne  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav#NavigationBarPersonne  .dropdown-content a:hover {background-color: #f1f1f1}

nav#NavigationBarPersonne  .dropdown:hover .dropdown-content {
    display: block;
}







#first_link_of_bar_personne {
/*      background-color: #CE0000;
width: 170px;*/
    width: 320px;
        background-color: rgba(195, 186, 178, 0.76);
}


